name: .NET

on:
  push:
    branches: [ master ]
#  release:
#    types: [published]

jobs:
  build:

    runs-on: windows-latest
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Add Nuget source
      run: dotnet nuget add source https://nuget.pkg.github.com/hwndmaster/index.json -n github -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text
    - name: Restore dependencies
      run: dotnet restore
    - name: Pack Data
      run: dotnet pack Atom.Data/Atom.Data.csproj --configuration Release
    - name: Pack Infrastructure
      run: dotnet pack Atom.Infrastructure/Atom.Infrastructure.csproj --configuration Release
    - name: Pack Infrastructure.TestingUtil
      run: dotnet pack Atom.Infrastructure.TestingUtil/Atom.Infrastructure.TestingUtil.csproj --configuration Release
    - name: Pack UI.Forms
      run: dotnet pack Atom.UI.Forms/Atom.UI.Forms.csproj --configuration Release
    - name: Pack UI.Forms.TestingUtil
      run: dotnet pack Atom.UI.Forms.TestingUtil/Atom.UI.Forms.TestingUtil.csproj --configuration Release
    - name: Pack Reporting
      run: dotnet pack Atom.Reporting/Atom.Reporting.csproj --configuration Release
    - name: Pack Reporting.UI
      run: dotnet pack Atom.Reporting.UI/Atom.Reporting.UI.csproj --configuration Release
    - name: Pack Build
      run: dotnet pack Atom.Build/Atom.Build.csproj --configuration Release
    - name: Publish packages to GPR
      run: dotnet nuget push **/*.nupkg --skip-duplicate --api-key ${{ secrets.GITHUB_TOKEN }} --source https://nuget.pkg.github.com/hwndmaster/index.json
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
